body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('path/to/your/texture.png'), linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)); /* Текстура и градиент */
    background-size: cover;
    background-blend-mode: overlay;
    transition: background-color 0.5s ease;
}

.container {
    text-align: center;
}

h1 {
    color: #333; 
    margin-bottom: 20px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}